/*div.col-md-6.col-xs-12 {
	margin-bottom: 10px;
}*/
.name-card {
	/*margin-bottom: 1em;*/
	padding: 1em;
	background-color: white;
	p {
		margin-bottom: 0px;
	}
	a {
		font-size: 0.9em;
		text-decoration: none;
	}
}
.designation {
	background-color: $theme_yellow;
	text-transform: uppercase;
	padding: 0.8em 0.5em 0.5em 0.5em;
}
.heads.row,
.coords.row {
	margin-bottom: 2em;
}