#club-title {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-family: "Junction-Bold";
	&.hidden-sm.hidden-xs {
		font-size: 6em;
	}
	&.hidden-md.hidden-lg {
		font-size: 2em;
	}
}
#text-thin {
	font-size: 2em;
	font-weight: lighter;
	text-transform: uppercase;
}
#about {
	background-color: $theme_yellow;
	padding: 3em 4em;
	margin-top: 7.5%;
	/*position: absolute;*/
	left: 0;
	/*width: 100%;*/
	p {
		text-align: justify;
		font-size: 1.2em;
		border-left: 0.5em solid black;
		padding-left: 1em;
		/*padding-right: 10em;*/
	}
}