.resource-title,
.resource-list-title {
	background-color: $theme_yellow;
	text-transform: uppercase;
	padding: 0.8em 0.5em 0.5em 0.5em;
}

.well.resource{
	background-color: white;
	border-radius: 0;
	box-shadow: none;
	border: transparent;
}

.resource-list {
	list-style: none;
	background-color: white;
	min-height: 500px;
	padding-top: 2em;
	li {
		font-weight: bold;
		letter-spacing: 0.05em;
		a {
			color: black;
			text-decoration: none;
			&:hover {
				color: lighten(black, 25%);
			}
		}
	}
}