<h1 id="club-title" class="hidden-xs hidden-sm">{Analytics Club}</h1>
<p id="club-title" class="hidden-md hidden-lg">{Analytics Club}</p>
<p id="text-thin">IIT Madras</p>
<section id="about">
	<p>The world is now awash in data and we can see consumers in a lot more clearer ways. Whether you approach your data seeking enlightenment or to prove a point, you’ll find what you’re looking for. Welcome to Analytics club of IIT Madras.<br><br>
	<b>Welcome to Analytics club of IIT Madras.</b> The goal is to turn data into information, and information into insight. We aim at providing various sessions, online activities and resources to the students to make them aware of the career options in Data Analytics and deliver basic knowledge to them.</p>
</section>