<div class="col-md-9">
	<div ng-repeat="resource in resources.titles" id="{{resource.slug}}" ng-show="resources.showMe=='{{resource.slug}}'">
		<h4 class="resource-title">{{resource.name}}</h4>
		<iframe src="{{resource.file}}" class="well resource" width="100%" height="500px">
		</iframe>
	</div>
</div>
<div class="col-md-3 hidden-xs hidden-sm" id="sidebar">
	<h4 class="resource-list-title">Resources</h4>
	<ul class="resource-list">
		<li ng-repeat="resource in resources.titles">
			<a href="" ng-click="resources.showMe='{{resource.slug}}'">{{resource.name}}</a>
		</li>
	</ul>
</div>