<div class="col-md-9">
	<div id="intro">
		<h4 class="resource-title">Introduction</h4>
		<iframe src="docs/intro.pdf" class="well resource" width="100%" height="500px">
		</iframe>
	</div>
	<div id="intro-R">
		<h4 class="resource-title">Introduction to R</h4>
		<iframe src="docs/intro-R.pdf" class="well resource" width="100%" height="500px">
		</iframe>
	</div>
	<div id="regression">
		<h4 class="resource-title">Regression</h4>
		<iframe src="docs/regression.pdf" class="well resource" width="100%" height="500px">
		</iframe>
	</div>
	<div id="classification">
		<h4 class="resource-title">Classfication</h4>
		<iframe src="docs/classfication.pdf" class="well resource" width="100%" height="500px">
		</iframe>
	</div>
</div>
<div class="col-md-3 hidden-xs hidden-sm" id="sidebar">
	<h4 class="resource-list-title">Resources</h4>
	<ul class="resource-list">
		<li><a href="#/resources#intro">Introduction</a></li>
		<li><a href="#/resources#intro-R">Introduction to R</a></li>
		<li><a href="#/resources#regression">Regression Models</a></li>
		<li><a href="#/resources#classification">Classification</a></li>
	</ul>
</div>